<div
  *ngIf="starships$ | async as starships"
  class="container grid gap-6 px-6 pt-2 pb-4 mx-auto lg:grid-cols-2 xl:grid-cols-3"
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollContainer]="'main'"
  [fromRoot]="true"
  (scrolled)="onScrolled()"
>
  <a *ngFor="let starship of starships; trackBy: trackByFn" [routerLink]="['/starships', getStarshipId(starship)]">
    <app-starship-item-list [starship]="starship"></app-starship-item-list>
  </a>
  <ng-container *ngIf="loading$ | async">
    <app-starship-item-list *ngFor="let item of [].constructor(10)" [starship]="null"></app-starship-item-list>
  </ng-container>
</div>
