<div class="flex flex-col w-full px-8 pt-8 md:max-w-lg md:mx-auto" *transloco="let t">
  <h1 class="w-full mb-8 text-lg font-medium text-center">{{ t('SIGN_IN.TITLE') }}</h1>

  <dynamic-form [form]="form" [fields]="signInForm" [model]="user$ | async" (submitForm)="signIn($event)">
    <div class="flex flex-col items-center w-full mt-2">
      <p *ngIf="error$ | async" class="w-full px-2 py-5 mt-3 text-xs text-center bg-red-100">
        {{ t('ERRORS.BACKEND') }}
      </p>
      <button class="relative w-full mt-8 btn btn-primary" type="submit" [disabled]="!form.valid">
        <svg-icon
          *ngIf="loading$ | async"
          class="absolute -mt-2 top-1/2 left-4 animate-spin"
          key="spinner"
          size="xs"
        ></svg-icon>
        <span>{{ t('SIGN_IN.TITLE') }}</span>
      </button>
      <button class="relative w-full mt-8 btn-outline btn-primary" type="button" (click)="login()">
        <span>{{ t('LOGIN.TITLE') }}</span>
      </button>
    </div>
  </dynamic-form>
</div>
