<div
  *ngIf="sidebars$ | async as sidebars"
  class="flex flex-col h-full min-h-screen bg-white dark:bg-gray-900 dark:text-gray-200"
>
  <app-header
    [theme]="(theme$ | async) || 'light'"
    [mainSidebar]="sidebars.main"
    [loggedIn]="(loggedIn$ | async) || false"
    (toggleTheme)="toggleTheme()"
    (toggleMainSidebar)="toggleMainSidebar()"
    (openLogin)="login()"
  ></app-header>
  <div class="flex flex-grow overflow-auto">
    <div
      class="fixed block w-full h-full overflow-hidden transition-opacity duration-600"
      [ngClass]="{ 'opacity-100': sidebars.main, 'opacity-0': !sidebars.main }"
      [@slideInOut]="sidebars.main ? 'in' : 'out'"
    >
      <app-main-sidebar
        [loggedIn]="(loggedIn$ | async) || false"
        (openLogin)="login()"
        (itemSelected)="itemSelected()"
      ></app-main-sidebar>
    </div>

    <main class="container py-4 mx-auto">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- floating sidebars -->
</div>
