<div *ngIf="sidebars$ | async as sidebars" class="flex flex-col h-screen bg-white dark:bg-gray-900 dark:text-gray-200">
  <header>
    <app-header
      [theme]="(theme$ | async) || 'light'"
      [mainSidebar]="sidebars.main"
      [loggedIn]="(loggedIn$ | async) || false"
      (toggleTheme)="toggleTheme()"
      (toggleMainSidebar)="toggleMainSidebar()"
      (openLogin)="login()"
    ></app-header>
  </header>

  <main class="flex-1 overflow-y-auto">
    <app-main-sidebar
      [display]="sidebars.main"
      [loggedIn]="(loggedIn$ | async) || false"
      (openLogin)="login()"
      (itemSelected)="itemSelected()"
    ></app-main-sidebar>

    <div class="flex-1 py-2">
      <router-outlet></router-outlet>
    </div>

    <app-floating-sidebar [display]="sidebars.login" (closeSidebar)="closeFloatingSidebar()">
      <!-- Lazy loaded components -->
      <ng-template #floatingSidebarContainer></ng-template>
    </app-floating-sidebar>

    <!-- Cookies example -->
    <div *ngIf="cookiesBanner$ | async" class="fixed bottom-0 left-0 z-50 w-full h-16 bg-black">
      <div class="relative block w-full h-full p-4">
        <svg-icon
          class="absolute text-gray-500 cursor-pointer fill-current top-4 right-3 hover:text-gray-700 dark:text-gray-500 dark:hover:text-gray-400"
          key="close"
          (click)="dismissCookiesBanner()"
        ></svg-icon>
        <p class="font-medium text-gray-50" *transloco="let t">{{ t('MESSAGES.COOKIES_BANNER') }}</p>
      </div>
    </div>
  </main>
</div>
