<div *ngIf="sidebars$ | async as sidebars" class="flex flex-col h-screen bg-white dark:bg-gray-900 dark:text-gray-200">
  <header>
    <app-header
      [theme]="(theme$ | async) || 'light'"
      [mainSidebar]="sidebars.main"
      [loggedIn]="(loggedIn$ | async) || false"
      (toggleTheme)="toggleTheme()"
      (toggleMainSidebar)="toggleMainSidebar()"
      (openLogin)="login()"
    ></app-header>
  </header>

  <main class="flex-1 overflow-y-auto">
    <app-main-sidebar
      [display]="sidebars.main"
      [loggedIn]="(loggedIn$ | async) || false"
      (openLogin)="login()"
      (itemSelected)="itemSelected()"
    ></app-main-sidebar>

    <div class="flex-1 py-2">
      <router-outlet></router-outlet>
    </div>

    <app-floating-sidebar [display]="sidebars.login" (closeSidebar)="closeFloatingSidebar()">
      <!-- Lazy loaded components -->
      <ng-template #floatingSidebarContainer></ng-template>
    </app-floating-sidebar>

    <!-- Cookies example -->
    <app-floating-banner
      *ngIf="cookiesBanner$ | async"
      [message]="'MESSAGES.COOKIES_BANNER'"
      (dismiss)="dismissCookiesBanner()"
    ></app-floating-banner>
  </main>
</div>
