<section
  class="fixed inset-0 z-50 overflow-y-auto transition-opacity duration-300"
  [ngClass]="{ 'visible ease-out opacity-100': display, 'invisible ease-in opacity-0': !display }"
  (click)="close()"
  [@slideInOut]="display ? 'in' : 'out'"
>
  <div class="flex min-h-screen text-center md:justify-end">
    <div
      class="inline-block w-full overflow-hidden text-left align-bottom bg-white shadow-2xl md:w-96 dark:bg-gray-800"
      (click)="$event.stopPropagation()"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="relative block w-full h-full">
        <svg-icon
          class="absolute text-gray-500 cursor-pointer fill-current top-3 right-3 hover:text-gray-700 dark:text-gray-500 dark:hover:text-gray-400"
          key="close"
          (click)="close()"
        ></svg-icon>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</section>
